/*----------*/
/* Generali */
/*----------*/

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --default-padding: 2rem 1rem;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: auto;
}


/*------*/
/* Flex */
/*------*/


.flex {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.vertical-align {
    align-items: center;
}

.horizontal-align {
    justify-content: center;
}


/*----------------*/
/* Navigation Bar */
/*----------------*/

nav {
    height: 100%;
    width: 100%;
    background-color: #3866E1;
    padding: calc((var(--default-padding)) / 2)
}

.logo {
    height: 36px;
    min-width: 200px;
}

.menu {
    height: 36px;
    min-width: 300px;
    flex-grow: 1;
}

.login {
    height: 36px;
    min-width: 200px;
}


/*--------*/
/*  Hero  */
/*--------*/

header {
    background-color: #451CB9;
    width: 100%;
    padding: var(--default-padding);
}

.hero {
    min-height: 400px;
}

.hero-title {
    background-color: #E3C53C;
    min-height: 100px;
    max-width: 500px;
    text-align: center;
}


/*------------*/
/*  Sections  */
/*------------*/

.first-block,
.second-block,
.third-block,
.fourth-block {
    padding: var(--default-padding);
}

.second-block,
.fourth-block {
    background-color: #F3F3F3;
}

.info,
.cta {
    padding: 3rem 0;
}

.cta {
    height: 900px;
    background-color: #5EA96F;
}

.image {
    background-color: #007FF4;
    min-height: 500px;
    min-width: 300px;
    flex-grow: 1;
}

.text {
    background-color: #F9B9DF;
    min-height: 500px;
    min-width: 300px;
}


/*----------*/
/*  Footer  */
/*----------*/

footer {
    background-color: #23272A;
    padding: var(--default-padding);
}

.footer-info {
    min-width: 300px;
    min-height: 350px;
    background-color: #F27B7B;
}

.footer-menu {
    flex-grow: 1;
}

.footer-col {
    min-width: 160px;
    min-height: 350px;
    flex-grow: 1;
    background-color: #40A2B8;
}

.footer-copyright {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    border-top: 1px solid white;
    background-color: #7BF2EB;
    justify-content: space-between;
}


/*-----------*/
/* Temporary */
/*-----------*/


.black-border {
    border: 1px dashed black;
}

.red-border {
    border: 1px dashed red;
}

.white-border {
    border: 1px dashed white;
}