/*----------*/
/* Generali */
/*----------*/

* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 960px;
    margin: auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.vertical-align {
    align-items: center;
}

.black-border {
    border: 1px dashed black;
}

.red-border {
    border: 1px dashed red;
}


/*----------------*/
/* Navigation Bar */
/*----------------*/

nav {
    height: 100%;
    width: 100%;
    padding: 12px 0;
    background-color: grey;
}

.logo {
    height: 36px;
    min-width: 200px;
}

.menu {
    height: 36px;
    min-width: 300px;
    flex-grow: 1;
}

.login {
    height: 36px;
    min-width: 200px;
}